:root {
    --Negro: #2F2C2C;
    --fuente: 'Montserrat', sans-serif;
    --Rojo: #E80B39;
    --blanco: white;
    --Gris: #595b5f;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: var(--fuente);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

header {
    
    width: 100%;
    background-color: var(--Negro);
   display: flex;
   justify-content: space-between;
   
}

.header__nav {
width: 100%;
display: flex;
/* alinea perfil experienc etc en el centro */
align-items: center;
justify-content: space-between;
margin: 0 auto;
max-width: 1500px;
position: fixed;
background-color: var(--Negro);
height: 160px;

/* ese top y left es por recomendacion, para que no se 
modifique el nav cuando agregemos contenido en el main */
}

.header__image--container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header__img {
height: 150px;
}

.header__titulo {
    color: var(--blanco);
   
}

h1 {
    margin-top: 15px;
    height: 40px;
    font-size: 18px;
}

/* menu */

.header__menu {
    display: flex;
list-style: none;
margin: 0 auto;
}

.header__menu li {
    padding: 0 15px;
}


.header__menu a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

}

.open__menu-img,
.close__menu-img
{
    height: 50px;
    }

button {
    display: none;
}

@media (max-width: 950px) {

    .header__menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--Gris);
        height: 100%;
        overflow-y: auto; /* pone una barra cuando el contenido esta muy apretado */
        opacity: 0;
        
    }


    .header__menu li {
        margin-top: 35px;
    }

    
.close__menu,
.open__menu
{
    height: 52px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    
}

.close__menu {
    align-self: flex-end;
    padding: 20px 15px;
}

.open__menu {
    align-self: flex-start;
    padding: 20px 15px;
 
}

.menu_opened {
    opacity: 1;
}

}