
body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,120,121,0.4458158263305322) 1%, rgba(0,212,255,1) 100%);
    
}

img {
    
    height: 100%;
    width: 100%;
}

.presentacion {
    height: 400px;
    width: 400px;

}

.descripcion {
    height: 400px;
    margin-top: 100px;
}

.formulario {
    margin-top: 100px;
}